<%= form_for @product do |f| %>
  <%= @product.errors.full_messages.join(', ') %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :art, 'Choose a design' %>
    <%= f.collection_select(:item_id, @items, :id, :title, :include_blank => "Please select") %>
  </div>
  <div>
    <%= f.label :item, 'Choose an object' %>
    <%= f.collection_select(:item_id, @items, :id, :title, :include_blank => "Please select") %>
  </div>
<% end %>

  <div>
    <%= @product.price %>
  </div>
  <div>
  <% if @product.images.attached? %>
    <% @product.images.each do |image| %>
      <%= image_tag image.variant(resize: "500x500").processed.service_url %>
    <% end %>
  <% end %>
  </div>