<%= form_for entry do |f| %>
  <%= entry.errors.full_messages.join(', ') %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>
  </div>
  <%= f.submit "Submit" %>
<% end %>