<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :unit, "Apt / Suite / Unit" %><br>
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :postal_code %><br>
    <%= f.number_field :postal_code %>
  </p>
  <p>
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>