<%= @arts.each do |art| %>
  <p><%= link_to "#{art.title}", art_path(art) %></p>
  <p><%= art.subtitle %></p>
  <p><%= art.description %></p>
  <p>Price: <%= number_to_currency(art.price) %></p>
<% end %>