<!DOCTYPE html>
<html>
  <head>
    <title>TakeShape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>


    <%= link_to 'Home', root_path %>
        |
        <%= link_to 'Contact Us', contact_us_path %>
        |
        <%= link_to 'Arts', arts_path %>
        |
        <%= link_to 'Items', items_path %>
        |
        <%= link_to 'Final Product', final_products_path %>
        |
        <% if current_user.present? %>
          <span>Hi, <%= current_user.first_name%>!</span>
            |
          <%= link_to 'Sign Out', session_path, method: :delete %>
        <% else %>
          |
          <%= link_to 'Sign In', new_session_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
        <hr>

        <div class="container-fluid">

          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type == "alert" ? "danger" : "success" %> alert-dismissible fade show" role="alert">
              <%= msg.html_safe %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>








    <%= yield %>
  </body>
</html>
